.main {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
}

.mainHeader {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
  background-color: #021334;
  color: white;
  padding: 0px 20px 0px 20px;
}

.categories {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 80px;
  background-color: #203c68;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0px 20px 20px;
  border-radius: 20px;
}

.title {
  max-width: 100vw;
  margin: 40px 0px 0px 60px;
  font-weight: 600;
}

.moviesContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 100vw;
  margin: 20px;
}
.popover:hover {
  background-color: white;
  color: #f2a643;
  border: none;
}

.popoverContent {
  display: flex;
  flex-direction: column;
}

.likedMoviesContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.crossIcon {
  cursor: pointer;
  margin: 0px 10px 0px 20px;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 100px;
  background-color: #f2a643;
  color: white;
  border: none;
  border-radius: 4px;
  transition-duration: 0.3s;
  cursor: pointer;
}
.movieHeader {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.genreContent {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 10px 5px 10px;
  cursor: pointer;
}
.genreContent:hover {
  background-color: #f2a643;
  color: white;
  border: none;
  border-radius: 4px;
}
.selectedGenre {
  background-color: red;
  color: white;
  border: none;
  border-radius: 4px;
}
