@font-face {
  font-family: Cinema;
  src: url(/cinema_st.ttf) format("truetype");
}
@font-face {
  font-family: Premier;
  src: url(/Film_Premieres.otf) format("opentype");
}

.main {
  width: 100vw;
  min-height: 150vh;
  margin: 0;
  padding: 0;
  background-image: url(/DesktopWallpaper2.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #fdf0d5;
}
.logo {
  width: 25%;
  height: auto;
}
.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2rem;
}

.topButtonsHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 12rem;
}
.icon {
  width: 100%;
  height: auto;
  cursor: pointer;
}
.buttonIconTv,
.buttonIconCinema {
  position: relative;
}

.buttonIconCinema:hover::after {
  content: "Movies";
  font-family: Cinema;
  position: absolute;
  top: 3.4rem;
  left: -0.5rem;
  color: rgb(100, 100, 100);
  width: 15rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.8rem;
  cursor: pointer;
}

.buttonIconTv:hover::after {
  content: "TV Shows";
  font-family: Cinema;
  position: absolute;
  top: 2.2rem;
  left: -1rem;
  color: rgb(100, 100, 100);
  text-align: center;
  width: 15rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.8rem;
  cursor: pointer;
}

.buttonIconTv:hover .icon,
.buttonIconCinema:hover .icon {
  opacity: 0;
}

.moviesContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 100vw;
  margin: 1rem 0 0 0;
}

.popoverHeader {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.popover {
  cursor: pointer;
  background-color: #548b9f;
  color: white;
  border: none;
  border-radius: 0.5rem;
  width: 11em;
  height: 3rem;
  margin: 1rem 1rem 0 0;
}
.popover:hover {
  background-color: lightgrey;
  color: #548b9f;
}
.popoverContent {
  display: flex;
  flex-direction: column;
}

.likedMoviesContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.crossIcon {
  cursor: pointer;
  margin: 0 0.3rem 0 1.5rem;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #780000;
  color: white;
  border: none;
  border-radius: 0.5rem;
  width: 11rem;
  height: 2.8rem;
  cursor: pointer;
}
.button:hover {
  background-color: lightgrey;
  color: #780000;
  border: none;
}
.buttonHeader {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #548b9f;
  height: 8vh;
  width: 80vw;
  border-radius: 1.5rem;
}
.movieHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: sticky;
  top: 2%; */
}

.genreContent {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
  cursor: pointer;
}
.genreContent:hover {
  background-color: #f2a643;
  color: white;
  border: none;
  border-radius: 0.3rem;
}
.selectedGenre {
  background-color: #780000;
  color: white;
  border: none;
  border-radius: 0.3rem;
}
.loginHeader {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 11em;
  height: 2.8rem;
  background-color: #f2a643;
  color: white;
  border: none;
  border-radius: 0.7rem;
  margin: 1rem 1rem 0 0;
}
.login:hover {
  background-color: lightgrey;
  color: #f2a643;
  border: none;
}

.welcome {
  margin-right: auto;
  margin-left: 1rem;
  font-size: 2rem;
  color: #780000;
  text-transform: capitalize;
}
.logoutContainer {
  margin-left: auto;
}
.input {
  width: 18rem;
  height: 2.5rem;
  border-radius: 0.7rem;
  border-color: grey;
  margin: 1rem 1rem 0 0;
  padding-left: 0.5rem;
}
.modalBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 7.5rem;
  height: 2.8rem;
  background-color: #f2a643;
  color: white;
  border: none;
  border-radius: 0.7rem;
  margin: 1rem 0 1rem 0;
}
.modalTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  font-size: 1.2rem;
  color: #780000;
}
.registerSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.closeBtnContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
}
.closeBtn {
  cursor: pointer;
}
.closeBtn:hover {
  color: #f2a643;
}
.error {
  color: red;
  font-size: 0.8rem;
}
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  font-family: Premier;
  font-size: 3rem;
}
.clearGenresButton {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 7.5rem;
  height: 1.5rem;
  background-color: lightgray;
  border: 0.5px solid gray;
  border-radius: 0.5rem;
}
.backToTopBtn {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  cursor: pointer;
  z-index: 999;
}
.backToTopBtn:hover {
  opacity: 0.7;
}

.popoverSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 0.5rem;
}

.bottomPopoversBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.2rem 0.6rem 0.2rem 0.6rem;
  cursor: pointer;
  width: 7rem;
  height: 2rem;
  background-color: grey;
  color: white;
  border: none;
  border-radius: 0.3rem;
}

.bottomPopoversBtn:hover {
  background-color: lightgray;
  color: black;
}
.filterPopoverContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
  cursor: pointer;
}
.filterPopoverContent:hover {
  background-color: #f2a643;
  color: white;
  border: none;
  border-radius: 0.3rem;
}
.selectedFilter {
  background-color: #780000;
  color: white;
  border: none;
  border-radius: 0.3rem;
}

.miniIcon {
  margin: 0 0 0 0.3rem;
  width: 1.2rem;
  height: auto;
}

@media screen and (max-width: 460px) {
  .icon {
    width: 65%;
    height: auto;
  }
  .button {
    width: 6rem;
    height: 2rem;
    margin: 0 0.3rem 0 0.3rem;
  }
  .genresBtn {
    width: 10rem;
    height: 2rem;
    margin: 0 0.2rem 0 0.2rem;
  }
  .buttonHeader {
    width: 60vw;
  }
  .login {
    width: 6.5rem;
    height: 2rem;
  }
  .input {
    width: 12rem;
    height: 2rem;
  }
  .modalBtn {
    width: 6.5rem;
    height: 2rem;
  }
  .modalTitle {
    font-size: 1rem;
  }
  .welcome {
    font-size: 1rem;
    margin-left: 2.5rem;
  }
  .popoverContent {
    font-size: 0.8rem;
  }
  .popoverContent:hover {
    font-size: 0.8rem;
  }
  .likedMoviesContainer {
    margin: 0 0.3rem 0 0.3rem;
  }
  .genreContent {
    width: 5.3rem;
    height: 2rem;
    margin: 0.3rem 0.3rem 0.3rem 0.3rem;
    font-size: 0.7rem;
  }
  .genreContent:hover {
    width: 5.3rem;
    height: 2rem;
  }
  .selectedGenre {
    width: 5.3rem;
    height: 2rem;
  }
  .closeBtn {
    font-size: 0.8rem;
  }
  .error {
    font-size: 0.6rem;
  }
  .loginHeader {
    margin-right: 0.5rem;
  }
  .buttonIconTv,
  .buttonIconCinema {
    margin: 0 0.5rem 0 0.5rem;
  }
  .topButtonsHeader {
    margin-left: 0;
  }
  .buttonIconCinema:hover::after {
    top: -1rem;
    left: -3.5rem;
    font-size: 1.4rem;
  }
  .buttonIconTv:hover::after {
    top: -1.5rem;
    left: -0.6rem;
    width: 8rem;
    font-size: 1.4rem;
  }
  .loading {
    font-size: 0.8rem;
    margin-top: 1.5rem;
  }
  .clearGenresButton {
    width: 6rem;
    height: 1.5rem;
    font-size: 0.6rem;
  }
  .backToTopBtn {
    bottom: 0.5rem;
    right: 0;
    width: 2rem;
    height: 2rem;
  }
}

@media screen and (min-width: 460px) and (max-width: 768px) {
  .icon {
    width: 65%;
    height: auto;
  }
  .button {
    width: 6.5rem;
    height: 2rem;
  }
  .login {
    width: 6.5rem;
    height: 2rem;
  }
  .input {
    width: 12rem;
    height: 2rem;
  }
  .modalBtn {
    width: 6.5rem;
    height: 2rem;
  }
  .modalTitle {
    font-size: 1rem;
  }
  .welcome {
    font-size: 1.5rem;
  }
  .popoverContent {
    font-size: 0.8rem;
  }
  .popoverContent:hover {
    font-size: 0.8rem;
  }
  .likedMoviesContainer {
    margin: 0 0.3rem 0 0.3rem;
  }
  .genreContent {
    width: 5.3rem;
    height: 2rem;
    margin: 0.3rem 0.3rem 0.3rem 0.3rem;
    font-size: 0.7rem;
  }
  .genreContent:hover {
    width: 5.3rem;
    height: 2rem;
  }
  .selectedGenre {
    width: 5.3rem;
    height: 2rem;
  }
  .closeBtn {
    font-size: 0.8rem;
  }
  .error {
    font-size: 0.6rem;
  }
  .loginHeader {
    margin-right: 0.5rem;
  }
  .buttonIconCinema:hover::after {
    top: 1rem;
    left: -1rem;
    font-size: 1.4rem;
  }
  .buttonIconTv:hover::after {
    top: 0rem;
    left: 1rem;
    width: 8rem;
    font-size: 1.4rem;
  }
  .loading {
    font-size: 1.2rem;
    margin-top: 2rem;
  }
  .clearGenresButton {
    width: 6rem;
    height: 1.5rem;
    font-size: 0.6rem;
  }
  .backToTopBtn {
    bottom: 0.5rem;
    right: 0;
    width: 2rem;
    height: 2rem;
  }
}
@media screen and (min-width: 570px) and (max-width: 1210px) {
  .backToTopBtn {
    bottom: 0.5rem;
    right: 0;
    width: 2rem;
    height: 2rem;
  }
}
