.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: fit-content;
  margin: 1.3rem;
  background-color: #faf1e2;
  border-radius: 0.6rem;
  box-shadow: 0 0 0.5rem 0;
  padding: 0 0.6rem 0 0.6rem;
}

.image {
  width: 15rem;
  border-radius: 0.6rem 0.6rem 0 0;
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.6rem 0.6rem;
}

.name {
  font-weight: 500;
  font-size: 1.3rem;
  color: rgb(11, 11, 152);
  text-align: center;
}

.description {
  font-weight: 300;
  font-size: 0.9rem;
  text-align: justify;
}

.iconContainer {
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
}

.genres {
  font-style: italic;
}
.percentage {
  font-size: 1.2rem;
}
.percentageCircle {
  width: 3.6rem;
  height: 3.6rem;
  text-align: center;
  border: 0.2rem solid;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.7rem;
}
.topTitle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 0.5rem 0.5rem 0.5rem;
}
.heartIcon {
  margin-left: auto;
}
.releaseDate {
  font-weight: 500;
  font-size: 1rem;
}
.note {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
}
.vote {
  display: flex;
  justify-content: center;
  align-items: center;
}
.voteCount {
  font-size: 1rem;
  margin-left: 1rem;
}

@media screen and (max-width: 460px) {
  .card {
    width: 8.5rem;
    margin: 0.7rem;
  }

  .image {
    width: 8.5rem;
  }

  .name {
    font-size: 0.9rem;
  }

  .description {
    font-size: 0.6rem;
  }

  .iconContainer {
    font-size: 0.6rem;
  }
}

@media screen and (min-width: 460px) and (max-width: 768px) {
  .card {
    width: 9.4rem;
    margin: 0.7rem;
  }

  .image {
    width: 9.4rem;
  }

  .name {
    font-size: 0.9rem;
  }

  .description {
    font-size: 0.6rem;
  }

  .iconContainer {
    font-size: 0.6rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .card {
    width: 12.5rem;
    margin: 1.1rem;
  }

  .image {
    width: 12.5rem;
  }

  .name {
    font-size: 1rem;
  }

  .description {
    font-size: 0.75rem;
  }

  .iconContainer {
    font-size: 0.75rem;
  }
}
@media screen and (min-width: 1408px) {
  .card {
    margin: 1.5rem;
  }
}

/* @media screen and (min-width: 460px) and (max-width: 768px) {
  .card {
    width: 200px;
  }

  .image {
    width: 200px;
  }

  .name {
    font-size: 16px;
  }

  .description {
    font-size: 12px;
  }

  .iconContainer {
    font-size: 12px;
  }
} */
